.container {
	display: flex;

	padding: 16px;
	align-items: center;
	margin: 8px;

	border-radius: 4px;
	background: #fff;
}

.innerContatiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.leftContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}

.infoContainer {
	display: flex;

	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.imgPlace {
	width: 80px;
	height: 80px;
	background-color: red;
}

.titleRating {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 4px;
}

.title {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}
.smallText {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	display: inline-block;
	white-space: nowrap;
}

.openHours {
	display: flex;
	gap: 4px;
	align-items: center;
}

.chevronSvg {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
